<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: url(../../Resources/coming_soon_background.png)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="~/Home"><img src="~/Resources/cristal.png" width="30" />Nexus Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Products">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">API DOC</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Help/Api/PUT-api-Login">Create login</a>
                        <a class="dropdown-item" href="/Help/Api/GET-Login-Authetication_user_pas">Authentication</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Help">API Help</a>
                    </div>
                </li>
            </ul>
            <!-- Menu do login -->
            <form class="form-inline my-2 my-lg-0" style="display: contents;cursor: pointer">
                @if (true)
                {
                    <a href="/Login?post=home" class="text-success" style="font-size: 1.05rem;margin-left:1rem">Entrar</a>
                }
                else
                {
                    @*<li class="nav-link nav-item dropdown" style="margin-right: 3rem;">
                            <a class="dropdown-toggle text-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.05rem;text-decoration:none">
                                <img class="img-icon" width="35" height="35" src="@src" />@lgmodel.UserName
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item disabled"><b id="TextName">@lgmodel.FirstName</b></a>
                                <div class="dropdown-divider"></div>
                                @{
                                    builder.Path = "Users/Profile";
                                    string html = Html.AntiForgeryToken().ToHtmlString();
                                    string[] splitHtml = html.Split(' ');
                                    string valueField = splitHtml[splitHtml.Length - 2];
                                    string[] value = valueField.Split('\"');
                                    var query = HttpUtility.ParseQueryString(string.Empty);
                                    query["login_token"] = login_token;
                                    query["user_key"] = user_key;
                                    builder.Query = query.ToString();
                                    href = builder.ToString();
                                }
                                <a class="dropdown-item" href="@href">Seu Perfil</a>
                                @{
                                    builder.Path = "UserCart/View";
                                    builder.Query = $"login_token={login_token}&user_key={user_key}";
                                    href = builder.ToString();
                                }
                                <a class="dropdown-item" href="@href">Carrinho</a>
                                <a class="dropdown-item" href="#">Seus Pedidos</a>
                                <a class="dropdown-item" href="#">
                                    Notificações
                                    <span class="badge badge-pill badge-success" style="margin-left: 0.60rem;">0</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                @{
                                    builder.Path = "Logins/Logout";
                                    query = HttpUtility.ParseQueryString(string.Empty);
                                    query["url_post"] = Request.Url.AbsoluteUri;
                                    query["isWeb"] = true.ToString();
                                    builder.Query = query.ToString();
                                    href = builder.ToString();
                                    builder.Path = string.Empty;
                                    builder.Query = string.Empty;
                                }
                                <button class="btn btn-outline-danger col-md-10" onclick="location.href='@href'" style="padding: 1.4pt;margin: 0.25rem 1rem;width: 80%;">Sair</button>
                            </div>
                        </li>*@
                }
            </form>
        </div>
    </nav>

    @*<div class="fab">
        <button class="main">
        </button>
        <ul>
            <li>
                <label for="opcao1">Whatsapp</label>
                <button id="opcao1" onclick="location.href = 'https://api.whatsapp.com/send?phone=5561992606441'" style="background-color: #1ebea5">
                    <img src="/Resources/whatsapp.png" width="27">
                </button>
            </li>
            <li>
                <label for="opcao2">Messager</label>
                <button id="opcao2" onclick="location.href = 'https://www.messenger.com/t/juangamer076'" style="background-color: #3a6ec7;">
                    <img src="/Resources/facebook_message.png" width="27">
                </button>
            </li>
            <li>
                <label for="opcao3">Instagram</label>
                <a href="https://www.instagram.com/juan_douglasbsb/">
                    <button id="opcao3" onclick="location.href = 'https://www.instagram.com/juan_douglasbsb/'" style="background-color: #e55655;">
                        <img src="/Resources/instagram_icon.png" width="27">
                    </button>
                </a>
            </li>
        </ul>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>
                    &copy; @DateTime.Now.Year -
                    <img src="~/Resources/cristal_so_borda.png" width="15" href="" /> Nexus Company. |
                    <a href="~/Home/Terms">Termos de Uso</a> -
                    <a href="~/Home/Policy">Pol&iacute;tica de privacidade.</a> |
                    <a href="https://www.facebook.com/JuanGamer076"><img src="~/Resources/facebook.png" width="20" /></a>
                    <a href="https://www.instagram.com/juan_douglasbsb/"><img src="~/Resources/instagram_black_logo.png" width="20" /></a>
                    <a href="https://twitter.com/JuanDouglasLim2"><img src="~/Resources/twitter.png" width="20" /></a>
                    <a href="https://www.github.com/JuanDouglas"><img src="~/Resources/github-logo_.png" width="20" /></a>
                </p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
