@model OAuth.Server.Models.AuthModel

@{
    ViewBag.Title = "Second Step";
}

@using (Html.BeginForm("SecondStep", "Login", new { post = ViewBag.Post }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Post", (string)ViewBag.Post)
    @Html.Hidden("Key", (string)ViewBag.Key);
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sua senha", type="password"} })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" class="btn btn-outline-success" value="Próximo" />
}

